<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Westpac Automation TestSuite">
 <listeners>
 
   <listener class-name="westpac.listeners"/>
   <listener class-name="resources.ExtentReporterNG"/>
   
 </listeners>
   
   <test name="Information icons for all fields in the KiwiSaver Retirement Calculator Page Validation">
    <classes>
      <class name="westpac.ValidatingKiwiSaverRetirementCalcPage"/>
    </classes>
  
  </test> <!-- Test -->
  
  
  <test name="KiwiSaver Retirement Projected Balance Validation">
    <classes>
      <class name="westpac.ValidatingKiwiSaverProjectedBal"/>
    </classes>
  
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
